nav{
    display: flex;
    justify-content: center;
    gap: 20%;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-top: 30px;
}
#topp{
    text-decoration: none;
    font-size: 50px;
    color: orange;
    padding-top: 20px;
}