body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    text-align: center;
}
h1{
    text-align: center;
}
main{
    width: 1000px;
    margin: auto;
}
ul{
    list-style-type: square;
}